*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Gray950:hsl(0, 0%, 17%);
    --Gray400:hsl(0, 0%, 58%);
    --White:hsl(0,0%,100%);
    --boxshadow:rgba(0,0,0,0.36);
}
body{
    background-color: var(--White);
    color: var(--Gray950);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.3;
    min-height: 100vh;
    overflow-x: hidden;
}
.header{
    width: 100%;
    min-height: 275px;
    background-image: url('images/pattern-bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.5em;
}
.lead{
    text-align: center;
    color: var(--White);
    font-size: 1.6em;
    font-weight: 500;
}
.container-fluid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
.container-fluid input{
    padding: 0.90em;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    font-size: 0.9em;
    font-family: 'Rubik', sans-serif;
    color: var(--Gray950);
    font-weight: 500;
}
.container-fluid input:focus{
    border: none;
    outline: none;
}
.container-fluid input::placeholder{
    color: var(--Gray400);
    font-size: 1.1em;
    font-family: 'Rubik', sans-serif;
    padding-left: 5px;
    font-weight: 400;
}
button{
    background-color: var(--Gray950);
    padding: 1.9em 2em;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    position: relative;
    background-image: url('images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}
button:hover{
    background-color:hsl(0, 1%, 24%) ;
}
.container{
    width: 100%;
    max-width: 1640px;
    position: relative;
}
.container-mt3{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top:-75px;
    left:50%;
    z-index: 10;
    transform: translateX(-50%);
    max-width: 1040px;
    display: flex;
    min-height: 150px;
    justify-content: space-between;
    background-color: var(--White);
    box-shadow:20px 30px 70px var(--boxshadow);
    border-radius: 15px;
}
.section{
    width: 100%;
    padding: 1.75em 1.5em;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: relative;
}
.section + .section::after{
    content:'';
    position: absolute;
    display: inline-block;
    border:1px solid var(--Gray400);
    width: 75px;
    opacity: 0.3;
    left:0;
    top:50%;
    transform: translate(-50%,-50%) rotate(90deg);
}
.text-primary{
    color: var(--Gray400);
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1px;
}
.paragraph-result{
    color: var(--Gray950);
    font-weight: 500;
    font-size: 1.2em;
}
.wrapper{
    width: 100%;
    max-width: 175px;
}
.container-map{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}
@media(prefers-reduced-motion: reduce)
{
    *{transition: none !important;}
}
@media(max-width:900px)
{
    .header{
        background-image: url('images/pattern-bg-mobile.png');
        min-height: 350px;
    }
    .container-mt3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1em;
        max-width: 400px;
        min-height: 0;
        transform: translate(-50%, -25%);
        margin-top: -45px;
        text-align: center;
    }
    .wrapper{
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 400px;
    }
    .section{
        padding: 0.75em;  
        gap: 0; 
    }
    .section +.section::after{
        transform: none;
        top:0;
        left:25%;
        width: 100%;
        max-width: 175px;
    }
}
@media(max-width:400px)
{
    .container-fluid input{
        max-width: 275px;
    }
    .container-mt3{
        max-width: 325px;
        margin-top: -30px;
    }
    .container-fluid input::placeholder{
        font-size: 0.8em;
    }
    .container{
        max-width: 400px;
    }
    .section +.section::after{
        transform: translateX(-10px);
    }
    .section{
        gap: 10px;
    }
}